videos/MedRAG[[:space:]]Visualization[[:space:]]Video.mov filter=lfs diff=lfs merge=lfs -text
.*mov filter=lfs diff=lfs merge=lfs -text
videos/MedRAG_Visualization_Video.mov filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
